{% extends "base.html" %}
{% block title %}Update a question{% endblock %}
{% block body %}
<div class="container">
    <h1>Update a question</h1>
    <form id="update_question-form" action="{{url_for('update_question',  id=question['id'])}}" method="post" autocomplete="off">
        <input type="text" name="question_text" placeholder="question" class="input-field" id="question_text" value="{{ question.text }}"/>
        <input type="text" name="option_text1" placeholder="option1" class="input-field" id="option_text1" value="{{ option_text[0] }}"/>
        <input type="text" name="option_text2" placeholder="option2" class="input-field" id="option_text2" value="{{ option_text[1] }}"/>
        <input type="text" name="option_text3" placeholder="option3" class="input-field" id="option_text3" value="{{ option_text[2] }}"/>
        <input type="text" name="option_text4" placeholder="option4" class="input-field" id="option_text4" value="{{ option_text[3] }}"/>
        <input type="submit" value="Submit" class="submit-btn"/>
    </form>
</div>
{% endblock %}